@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
body{
    font-family: 'Baloo Bhai 2', cursive;
color: white;
margin: 0px;
padding: 0px;
background: url('bg.jpg');
background-size: 100%;
background-repeat: none;
}

.left{
display: inline-block;
position: absolute;
left: 40px;
top: 10px;
}

.left img{
    width: 80px;
}
.left div{
    line-height: 10px;
    font-size: 18px;
    text-align: center;
}
 .mid{
     display: block;
     width: 33%;
     margin: 20px auto;

 }

 .right{
    display: inline-block;
    position:absolute;
    right: 34px;
    top: 30px;

 }

 .navbar{
     display: inline-block;
 }
 .navbar li{
     display: inline-block;
     font-size: 15px;
 }
 .navbar li a{
     color: rgb(255, 255, 255);
     text-decoration: none;
     padding: 30px 10px;
 }

 .navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(211, 112, 112);
}

.btn{
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 500;
    margin: 0px 9px;
    background: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(32, 30, 30);
}

.container{
    /*border: 2px solid white;*/
    margin: 40px 60px;
    padding: 50px 30px;
    width: 30%;
    border-radius: 20px;
}

.container h1{
    font-size: 23px;
    font-style: oblique;
    text-align: center;
}

.form-group input{
    font-family: 'Baloo Bhai 2', cursive ;
    text-align:center;
    display: block;
    width: 340px;
    padding: 3px;
    border: 2px solid rgb(82, 77, 77);
    margin: 10px auto;
    border-radius: 7px;
}

.container button{
    margin: 20px auto;
    width: 50%;
    display: block;
    border: 2px solid white;
}